.container {
    max-width: none;
}
.article {
    max-width: none;

}
.article-container {
    max-width: none;
}
.div {
    max-width: none;
}
.universal-wrapper {
    max-width: none;
}
body {
text-align: justify;
}
