.container {
    max-width: 90%;
}
.article-container {
    max-width: 90%;
}
.universal-wrapper {
        width: 90%;
    max-width: none;
}
.project-card {
	align-items: center;
	justify-items: center;
	text-align: center;
	margin: auto;
}
.project-container {
	align-items: center;
	justify-items: center;
	text-align: center;
	margin: auto;
}
body {
text-align: justify;
}